.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
.bold {
    font-weight: bold;
}
.color {
    color: green;
}
.yellow {
    background-color: yellow;
}
.purple {
    background-color: purple;
}